@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using StockChat.Data
@using StockChat.Data.Repositories
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject NavigationManager Navigation
@inject IRepository<Message> _repository;
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<div id="messageList">
    <ul>
        @foreach (var message in messages)
        {
            <li>@message</li>
        }
    </ul>
</div>

<br />

<div id="chatInput">
    <div class="form-group">
        <label>
            Message:
            <input @bind="messageInput" size="50" />
        </label>
    </div>
    <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
</div>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? loggedInUser;
    private string? userId;
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            loggedInUser = user.Identity.Name;
            userId = user.Claims.ToList()[0].Value;
            hubConnection = new HubConnectionBuilder()
                .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
                .Build();

            var chatMessages = _repository.All().ToList().OrderBy(x => x.Date);
            foreach (var message in chatMessages)
            {
                var encodedMessage = $"[{message.Username}]: {message.Text}";
                messages.Add(encodedMessage);
            }

            hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
            {
                var encodedMsg = $"[{user}]: {message}";
                if(messages.Count == 50)
                {
                    messages.RemoveAt(0);
                }
                messages.Add(encodedMsg);
                InvokeAsync(StateHasChanged);
            });

            await hubConnection.StartAsync();

        }
        else
        {
            NavigationManager.NavigateTo("Identity/Account/Login");
        }
    }

    private async Task Send()
    {
        if (hubConnection is not null)
            {
                await hubConnection.SendAsync("SendMessage", loggedInUser, messageInput, userId);
            }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}